<div class="video-imagery">
	{exp:channel:entries url_title="video-imagery" channel="video-imagery" limit="1"}
		<div class="row">
		
			<div class="video-imagery_content">
				<div class="large-6 columns">
				
							
		    		<div class="row">
						<div class="large-12 columns">
							<h1 class="blue page_head">{video-imagery_title}</h1>
			    			<h4 class="orange">{video-imagery_summary}</h4>
			    			<p>{video-imagery_body}</p>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="video-imagery_img">
				<div class="large-6 columns">
					<img src="http://lorempixel.com/800/800/animals">
					<!-- <img src="images/uploads/{team_image}"> -->
				</div>
			</div>
			
		</div>
	{/exp:channel:entries}
</div>