<div class="work">

	<div class="row">
		<div class="large-12 columns">
			<div class="portfolio_resolution">
				<h1>Resolution in Action</h1>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="large-12 columns">
			<div class="work_rowone">
				<ul class="small-block-grid-3 large-block-grid-6">
					<li><img src="/images/uploads/C21-port-img.png" alt="portfolio"></li>
					<li><img src="/images/uploads/C21-port-img.png" alt="portfolio"></li>
					<li><img src="/images/uploads/C21-port-img.png" alt="portfolio"></li>
					<li><img src="/images/uploads/C21-port-img.png" alt="portfolio"></li>
					<li><img src="/images/uploads/C21-port-img.png" alt="portfolio"></li>
					<li><img src="/images/uploads/C21-port-img.png" alt="portfolio"></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="large12 columns">
			<div class="work_rowtwo">
				<ul class="small-block-grid-3 large-block-grid-6">
					<li><img src="/images/uploads/C21-port-img.png" alt="portfolio"></li>
					<li><img src="/images/uploads/C21-port-img.png" alt="portfolio"></li>
					<li><img src="/images/uploads/C21-port-img.png" alt="portfolio"></li>
					<li><img src="/images/uploads/C21-port-img.png" alt="portfolio"></li>
					<li><img src="/images/uploads/C21-port-img.png" alt="portfolio"></li>
					<li><img src="/images/uploads/C21-port-img.png" alt="portfolio"></li>
				</ul>
			</div>
		</div>
	</div>

</div>