<div class="teammembers">
	<div class="row">
		<div class="large-12 columns">
	
			<div class="team_dd">
				<h3>Design & Development</h3>
				<div class="row">
					<div class="large-6 columns">	
						{exp:channel:entries url_title="greg"}
							<div class="teammember_img"><img src="/images/team/{team_image}"></div>
							<h4>{team_title}</h4>
							<h5>{team_summary}</h5>
							<p>{team_body}</p>
						{/exp:channel:entries}
					</div>
					<div class="large-6 columns">
						{exp:channel:entries url_title="andrea"}
							<div class="teammember_img"><img src="/images/team/{team_image}"></div>
							<h4>{team_title}</h4>
							<h5>{team_summary}</h5>
							<p>{team_body}</p>
						{/exp:channel:entries}
					</div>
				</div>
			</div>
			
			<div class="team_content">
				<h3>Content</h3>
				<div class="row">
					<div class="large-6 columns">	
						{exp:channel:entries url_title="greg"}
							<div class="teammember_img"><img src="/images/team/{team_image}"></div>
							<h4>{team_title}</h4>
							<h5>{team_summary}</h5>
							<p>{team_body}</p>
						{/exp:channel:entries}
					</div>
					<div class="large-6 columns">
						{exp:channel:entries url_title="andrea"}
							<div class="teammember_img"><img src="/images/team/{team_image}"></div>
							<h4>{team_title}</h4>
							<h5>{team_summary}</h5>
							<p>{team_body}</p>
						{/exp:channel:entries}
					</div>
				</div>
			</div>
			
			<div class="team_smo">
				<h3>Social Media & Optimization</h3>
				<div class="row">
					<div class="large-6 columns">	
						{exp:channel:entries url_title="greg"}
							<div class="teammember_img"><img src="/images/team/{team_image}"></div>
							<h4>{team_title}</h4>
							<h5>{team_summary}</h5>
							<p>{team_body}</p>
						{/exp:channel:entries}
					</div>
					<div class="large-6 columns">
						{exp:channel:entries url_title="andrea"}
							<div class="teammember_img"><img src="/images/team/{team_image}"></div>
							<h4>{team_title}</h4>
							<h5>{team_summary}</h5>
							<p>{team_body}</p>
						{/exp:channel:entries}
					</div>
				</div>
			</div>
			
			<div class="team_bo">
				<h3>Business & Operations</h3>
				<div class="row">
					<div class="large-6 columns">	
						{exp:channel:entries url_title="greg"}
							<div class="teammember_img"><img src="/images/team/{team_image}"></div>
							<h4>{team_title}</h4>
							<h5>{team_summary}</h5>
							<p>{team_body}</p>
						{/exp:channel:entries}
					</div>
					<div class="large-6 columns">
						{exp:channel:entries url_title="andrea"}
							<div class="teammember_img"><img src="/images/team/{team_image}"></div>
							<h4>{team_title}</h4>
							<h5>{team_summary}</h5>
							<p>{team_body}</p>
						{/exp:channel:entries}
					</div>
				</div>
			</div>
			
			<div class="team_tech">
				<h3> Technology</h3>
				<div class="row">
					<div class="large-6 columns">	
						{exp:channel:entries url_title="greg"}
							<div class="teammember_img"><img src="/images/team/{team_image}"></div>
							<h4>{team_title}</h4>
							<h5>{team_summary}</h5>
							<p>{team_body}</p>
						{/exp:channel:entries}
					</div>
					<div class="large-6 columns">
						
					</div>
				</div>
			</div>
		
		
		</div>
	</div>
</div>