<div class="blog_navigation">
	<div class="row">
		<div class="large-12 columns">
			
			<div class="large-9 columns">
				{if segment_1 == 'blog' AND segment_2 == ''}
				<dl class="sub-nav">
				  <dt>Categories:</dt>
				  <dd class="active"><a href="/blog/category/design">Design</a> / </dd>
				  <dd><a href="/blog/category/development">Development</a> / </dd>
				  <dd><a href="/blog/category/content">Content</a> / </dd>
				  <dd><a href="/blog/category/social-media">Social Media</a> / </dd>
				  <dd><a href="/blog/category/optimization">Optimization</a> / </dd>
				  <dd><a href="/blog/category/business">Business</a></dd>
				</dl>
				{if:elseif segment_1 == 'blog' AND segment_2 == 'category' AND segment_3 == 'design'}
				<dl class="sub-nav">
				  <dt>Categories:</dt>
				  <dd class="active"><a href="/blog/category/design">Design</a></dd>
				  <dd><a href="/blog/category/development">Development</a></dd>
				  <dd><a href="/blog/category/content">Content</a></dd>
				  <dd><a href="/blog/category/social-media">Social Media</a></dd>
				  <dd><a href="/blog/category/optimization">Optimization</a></dd>
				  <dd><a href="/blog/category/business">Business</a></dd>
				</dl>
				{if:elseif segment_1 == 'blog' AND segment_2 == 'category' AND segment_3 == 'development'}
				<dl class="sub-nav">
				  <dt>Categories:</dt>
				  <dd><a href="/blog/category/design">Design</a></dd>
				  <dd class="active"><a href="/blog/category/development">Development</a></dd>
				  <dd><a href="/blog/category/content">Content</a></dd>
				  <dd><a href="/blog/category/social-media">Social Media</a></dd>
				  <dd><a href="/blog/category/optimization">Optimization</a></dd>
				  <dd><a href="/blog/category/business">Business</a></dd>
				</dl>
				{if:elseif segment_1 == 'blog' AND segment_2 == 'category' AND segment_3 == 'content'}
				<dl class="sub-nav">
				  <dt>Categories:</dt>
				  <dd><a href="/blog/category/design">Design</a></dd>
				  <dd><a href="/blog/category/development">Development</a></dd>
				  <dd class="active"><a href="/blog/category/content">Content</a></dd>
				  <dd><a href="/blog/category/social-media">Social Media</a></dd>
				  <dd><a href="/blog/category/optimization">Optimization</a></dd>
				  <dd><a href="/blog/category/business">Business</a></dd>
				</dl>
				{if:elseif segment_1 == 'blog' AND segment_2 == 'category' AND segment_3 == 'social-media'}
				<dl class="sub-nav">
				  <dt>Categories:</dt>
				  <dd><a href="/blog/category/design">Design</a></dd>
				  <dd><a href="/blog/category/development">Development</a></dd>
				  <dd><a href="/blog/category/content">Content</a></dd>
				  <dd class="active"><a href="/blog/category/social-media">Social Media</a></dd>
				  <dd><a href="/blog/category/optimization">Optimization</a></dd>
				  <dd><a href="/blog/category/business">Business</a></dd>
				</dl>
				{if:elseif segment_1 == 'blog' AND segment_2 == 'category' AND segment_3 == 'optimization'}
				<dl class="sub-nav">
				  <dt>Categories:</dt>
				  <dd><a href="/blog/category/design">Design</a></dd>
				  <dd><a href="/blog/category/development">Development</a></dd>
				  <dd><a href="/blog/category/content">Content</a></dd>
				  <dd><a href="/blog/category/social-media">Social Media</a></dd>
				  <dd class="active"><a href="/blog/category/optimization">Optimization</a></dd>
				  <dd><a href="/blog/category/business">Business</a></dd>
				</dl>
				{if:elseif segment_1 == 'blog' AND segment_2 == 'category' AND segment_3 == 'business'}
				<dl class="sub-nav">
				  <dt>Categories:</dt>
				  <dd><a href="/blog/category/design">Design</a></dd>
				  <dd><a href="/blog/category/development">Development</a></dd>
				  <dd><a href="/blog/category/content">Content</a></dd>
				  <dd><a href="/blog/category/social-media">Social Media</a></dd>
				  <dd><a href="/blog/category/optimization">Optimization</a></dd>
				  <dd class="active"><a href="/blog/category/business">Business</a></dd>
				</dl>
				{/if}
			</div>
			
			<div class="large-3 columns">
				<div class="whatwelike_button">
					<a href="/blog/category/what_we_like"><img src="/images/slices/C21-whatwelike_button.png" alt="what we like"></a>
				</div>
			</div>
			
		</div>
	</div>
</div>