<div class="brand_bar">
	<div class="row">
		<div class="large-3 columns">
			<div class="expression">
				<a href="http://www.cranium21.com/expression-engine"></a>
			</div>
		</div>
			
		<div class="large-3 columns">
			<div class="responsive21">
				<a href="http://www.responsive21.com" target="_blank"></a>
			</div>
		</div>
		
		<div class="large-3 columns">
			<div class="sync21">
				<a href="http://www.sync21.com" target="_blank"></a>
			</div>
		</div>
		
		<div class="large-3 columns">
			<div class="cranium21">
				<a href="#" data-reveal-id="expModal"></a>
			</div>
		</div>
	</div>
</div>