<div class="footer">

	<div class="row">
		<div class="large-6 columns">
			<div class="row">
				<div class="footer_logo">
					<a href="#" data-reveal-id="mainModal"></a>
				</div>
			</div>

			<div class="row">
				<div class="footer_resolution">
					<a href="#" data-reveal-id="resolutionModal"></a>
				</div>
			</div>
		</div>
		
		<div class="large-6 columns">
			<div class="footer_social">
				<div class="row">
					<div class="twelve columns">
						<div class="KIT">
							<center><img src="../images/slices/C21-KeepinTouch.png"></center>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="facebook_footer">
			 		<a href="https://www.facebook.com/pages/Cranium21/125004050980684?fref=ts" target="_blank"></a>
					</div>

					<div class="google_footer">
					<a href="https://plus.google.com/u/0/105956440498981649907/posts?hl=en" target="_blank"></a>
					</div>

					<div class="twitter_footer">
					<a href="http://www.twitter.com/Cranium21" target="_blank"></a>
					</div>
				</div>

				<div class="row">
					<div class="pinterest_footer">
					<a href="http://www.pinterest.com/craniumsocial" target="_blank"></a>
					</div>

					<div class="linkedin_footer">
					<a href="http://www.linkedin.com/company/cranium21" target="_blank"></a>
					</div>

					<div class="rss_footer">
					<a href="http://www.cranium21.com/" target="_blank"></a>
					</div>
				</div>
			</div>

			<div class="footer_socialmobile">
				<div class="row">
					<div class="large-12 columns">
						<div class="KIT">
							<center><img src="../images/slices/C21-KeepinTouch-mobile.png"></center>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
						<div class="footericonwrapper">
						<div class="footericons">
							<div class="facebook_footermobile">
			 				<a href="https://www.facebook.com/pages/Cranium21/125004050980684?fref=ts" target="_blank"></a>
							</div>

							<div class="google_footermobile">
							<a href="https://plus.google.com/u/0/105956440498981649907/posts?hl=en" target="_blank"></a>
							</div>

							<div class="twitter_footermobile">
							<a href="http://www.twitter.com/Cranium21" target="_blank"></a>
							</div>

							<div class="pinterest_footermobile">
							<a href="http://www.pinterest.com/craniumsocial" target="_blank"></a>
							</div>

							<div class="linkedin_footermobile">
							<a href="http://www.linkedin.com/company/cranium21" target="_blank"></a>
							</div>

							<div class="rss_footermobile">
							<a href="http://www.cranium21.com/" target="_blank"></a>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>