<div id="mainModal" class="reveal-modal [expand, xlarge, large, medium, small]">
  <h3 class="modal">Thanks for visiting Cranium21.com!</h3>
  <p class="modal">We are re-designing our website, please check back for more information.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="r21Modal" class="reveal-modal [expand, xlarge, large, medium, small]">
  <h3 class="modal">Thank You for Visiting Cranium21.com!</h3>
  <p class="modal">We are re-designing our website, please check back for more information.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="s21Modal" class="reveal-modal [expand, xlarge, large, medium, small]">
  <h3 class="modal">Thank You for Visiting Cranium21.com!</h3>
  <p class="modal">We are re-designing our website, please check back for more information.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="expModal" class="reveal-modal [expand, xlarge, large, medium, small]">
  <h3 class="modal">Thank You for Visiting Cranium21.com!</h3>
  <p class="modal">We are re-designing our website, please check back for more information.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="resolutionModal" class="reveal-modal [expand, xlarge, large, medium, small]">
  <h3 class="modal">The Cranium21.com team is ready to get started for YOU!</h3>
  <p class="modal">Please feel free to contact us at one of the addresses listed below:</p>
  <a class="close-reveal-modal">&#215;</a>
</div>


<script>
document.write('<script src=' +
('__proto__' in {} ? '{c21_domain}/javascripts/vendor/zepto' : '{c21_domain}/javascripts/vendor/jquery') +
'.js><\/script>')
</script>
<!-- <script src="{c21_domain}/javascripts/vendor/jquery.js"></script> -->
<script src="{c21_domain}/javascripts/foundation/foundation.js"></script>
<script src="{c21_domain}/javascripts/foundation/foundation.alerts.js"></script>
<script src="{c21_domain}/javascripts/foundation/foundation.clearing.js"></script>
<script src="{c21_domain}/javascripts/foundation/foundation.cookie.js"></script>
<script src="{c21_domain}/javascripts/foundation/foundation.dropdown.js"></script>
<script src="{c21_domain}/javascripts/foundation/foundation.forms.js"></script>
<script src="{c21_domain}/javascripts/foundation/foundation.joyride.js"></script>
<script src="{c21_domain}/javascripts/foundation/foundation.magellan.js"></script>
<script src="{c21_domain}/javascripts/foundation/foundation.orbit.js"></script>
<script src="{c21_domain}/javascripts/foundation/foundation.placeholder.js"></script>
<script src="{c21_domain}/javascripts/foundation/foundation.reveal.js"></script>
<script src="{c21_domain}/javascripts/foundation/foundation.section.js"></script>
<script src="{c21_domain}/javascripts/foundation/foundation.tooltips.js"></script>
<script src="{c21_domain}/javascripts/foundation/foundation.topbar.js"></script>
<script>
$(document).foundation();
</script>
  
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-35446950-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
