
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<title>Cranium21.com | Whole-Brained Design Resolution</title>

	<link rel="stylesheet" href="{c21_domain}/stylesheets/app.css" />
  	<link rel="stylesheet" href="{c21_domain}/stylesheets/styles.css" />

  	<script src="{c21_domain}/javascripts/vendor/custom.modernizr.js"></script>

</head>
