<div class="nav">
	<div class="row">
		<nav class="top-bar">
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="/" class="show-for-small">Start Here!</a></h1>
		    </li>
		    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		  </ul>
		
		  <section class="top-bar-section">
		    <!-- Left Nav Section -->
		    <ul class="left">	      
		      <li><a href="/">Visual Voice</a></li>
		      <li><a href="/">Responsive</a></li>
		      <li><a href="/">Expression Engine</a></li>
		      <li><a href="/">Optimization</a></li>
		      <li><a href="/">Social Media</a></li>
		      <li><a href="/">Video & Imagery</a></li>
		      <li class="show-for-small"><a href="/">Portfolio</a></li>
		      <li class="show-for-small"><a href="/">Team</a></li>
		      <li class="show-for-small"><a href="/">Blog</a></li>
		      <li class="show-for-small"><a href="/">Contact</a></li>
		    </ul>
		  </section>
		</nav>
	</div>
</div>
