<div class="nav">
	<div class="row">
		<nav class="top-bar">
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="/" class="show-for-small">Start Here!</a></h1>
		    </li>
		    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		  </ul>
		
		  <section class="top-bar-section">
		    <!-- Left Nav Section -->
		    <ul class="left">	      
		      <li><a href="/visual-voice">Visual Voice</a></li>
		      <li><a href="/responsive-web-design">Responsive</a></li>
		      <li><a href="/expression-engine">Expression Engine</a></li>
		      <li><a href="/search-engine-optimization">Optimization</a></li>
		      <li><a href="/social-media">Social Media</a></li>
		      <li><a href="/video-imagery-production">Video & Imagery</a></li>
		      <li class="show-for-small"><a href="/portfolio">Portfolio</a></li>
		      <li class="show-for-small"><a href="/team">Team</a></li>
		      <li class="show-for-small"><a href="/blog">Blog</a></li>
		      <li class="show-for-small"><a href="/contact">Contact</a></li>
		    </ul>
		  </section>
		</nav>
	</div>
</div>
