<div class="painpoints_bar">
	<div class="row">
	
		<div class="painpoints_boxes">
			
			<div class="large-4 columns">
				<div class="painpoints_box">
					<div class="visual_voice">
						<a href="/visual-voice"><img src="/images/slices/C21-visualvoice.png" alt="visual voice"></a>
						<h5>Your Visual Voice</h5>
						<p>Perception is everything, we will capture your Visual Voice.</p>
					</div>
				</div>
			</div>
	
			<div class="large-4 columns">
				<div class="painpoints_box">
					<div class="up_to_date">
						<a href="/responsive-web-design"><img src="/images/slices/C21-uptodate.png" alt="up to date"></a>
						<h5>Responsive & Up-to-Date</h5>
						<p>Your website is automatically future-proofed and ready to run on today's desktop and hand-held devices.</p>
					</div>
				</div>
			</div>
			
			<div class="large-4 columns">
				<div class="painpoints_box">
					<div class="easy_to_maintain">
						<a href="/expression-engine"><img src="/images/slices/C21-easytomaintain.png" alt="easy to maintain"></a>
						<h5>Easy to Maintain</h5>
						<p>Easily update your website or have our team handle it for you.</p>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
</div>