<div class="recentwork_bar">
	
	<div class="row">
		<div class="large-12 columns">
			<div class="recentwork_title">
				<img src="/images/slices/C21-recentwork.png" alt="recent work">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="large-12 columns">
			<ul class="small-block-grid-2 large-block-grid-2">
				<li><img src="/images/slices/C21-port-scans.png" alt="portfolio image"></li>
				<li><img src="/images/slices/C21-port-pj.png" alt="portfolio image"></li>
				<li><img src="/images/slices/C21-port-ra.png" alt="portfolio image"></li>
				<li><img src="/images/slices/C21-port-element.png" alt="portfolio image"></li>
				<li><img src="/images/slices/C21-port-us106.png" alt="portfolio image"></li>
				<li><img src="/images/slices/C21-port-wnis.png" alt="portfolio image"></li>
			</ul>
		</div>
	</div>
	
</div>

<div class="recentwork_bar-mobile">
	
	<div class="row">
		<div class="large-12 columns">
			<div class="recentwork_title">
				<img src="/images/slices/C21-recentwork.png" alt="recent work">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/slices/C21-port-scans.png" alt="portfolio image">
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/slices/C21-port-pj.png" alt="portfolio image">
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">	
			<img src="/images/slices/C21-port-ra.png" alt="portfolio image">
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/slices/C21-port-element.png" alt="portfolio image">
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/slices/C21-port-us106.png" alt="portfolio image">
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/slices/C21-port-wnis.png" alt="portfolio image">
		</div>
	</div>
	
</div>