<div class="row">
	<div class="twelve columns">
		<div class="team_bar">

			<div class="team_bar-head">
				<div class="row">
					<div class="large-12 columns">
						<a href="team"><img src="/images/slices/C21-teambanner.png"></a>
					</div>
				</div>
			</div>
			
			<div class="row">
		
				<div class="large-6 columns">
					
					<ul class="large-block-grid-2">
					  <li>{exp:channel:entries url_title="greg"}<img src="/images/team/{team_thumbnail}"><h3>{team_title}</h3><h5>{team_summary}</h5><p>{team_body}</p>{/exp:channel:entries}</li>
					 <li>{exp:channel:entries url_title="andrea"}<img src="/images/team/{team_thumbnail}"><h3>{team_title}</h3><h5>{team_summary}</h5><p>{team_body}</p>{/exp:channel:entries}</li>
					</ul>
			
				</div>
				<div class="large-6 columns">
					
					<ul class="large-block-grid-2">
					  <li>{exp:channel:entries url_title="greg"}<img src="/images/team/{team_thumbnail}"><h3>{team_title}</h3><h5>{team_summary}</h5><p>{team_body}</p>{/exp:channel:entries}</li>
					 <li>{exp:channel:entries url_title="andrea"}<img src="/images/team/{team_thumbnail}"><h3>{team_title}</h3><h5>{team_summary}</h5><p>{team_body}</p>{/exp:channel:entries}</li>
					</ul>
			
				</div>
				
			</div>
			
		</div>
	</div>
</div>