<div class="whole-brained_bar">
	
	<div class="row">
		<div class="large-12 columns">
			<div class="whole-brained_message">
				<h1>Whole-Brained Design Resolution</h1>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="large-12 columns">
			<div class="whole-brained_img">
				<img src="/images/slices/C21-quad-960.png" alt="brain quad">
			</div>
		</div>
	</div>
	
<!--	<div class="row">
		<div class="large-12 columns">
			<div class="whole-brained_img-mobile">
				<img src="/images/slices/C21-quad-mobile.png" alt="brain quad">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="large-12 columns">
			<div class="whole-brained_list-mobile">
					<ul>
					<li><h2>Factual</h2></li>
					<li><h2>Organized</h2></li>
					<li><h2>Intutive</h2></li>
					<li><h2>Emotional</h2></li>
					</ul>
			</div>
		</div>
	</div> -->
	
	<div class="row">
		<div class="large-12 columns">
			<div class="whole-brained_button">
				<h2><a href="#">Get Resolution Now &#187;</a></h2>
			</div>
		</div>
	</div>
	
</div>