<div class="optimization">
	{exp:channel:entries url_title="search-engine-optimization" channel="optimization" limit="1"}
		<div class="row">
		
			<div class="optimization_content">
				<div class="large-6 columns">
				
							
		    		<div class="row">
						<div class="large-12 columns">
							<h1 class="blue page_head">{optimization_title}</h1>
			    			<h4 class="orange">{optimization_summary}</h4>
			    			<p>{optimization_body}</p>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="optimization_img">
				<div class="large-6 columns">
					<img src="http://lorempixel.com/800/800/animals">
					<!-- <img src="images/uploads/{team_image}"> -->
				</div>
			</div>
			
		</div>
	{/exp:channel:entries}
</div>