/* Setting Up GitHub SCM */
/*
$blue: #29ABE2;
$transblue: rgba(41, 171, 226, 0.4);
$green: #B2D237;
$transgreen: rgba(178, 210, 55, 0.6);
$orange: #FBAD1A;
$transorange: rgba(251, 173, 26, 0.4);
$darkgrey: #424243;
$mediumgrey: #999999;
$lightgrey: #F2F2F2;
$transgrey: rgba(204, 204, 204, 0.4);
$translightgrey: rgba(242, 242, 242, 0.2);

$lightblue: #2BA6CB;
$lightgreen: #B9D989;
$midgreen: #A9C979;
$trans: transparent;
*/
/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/* line 48, ../sass/styles.scss */
h1 {
  font-family: "Architects Daughter", cursive;
}

/* line 52, ../sass/styles.scss */
h2 {
  font-family: "Architects Daughter", cursive;
}

/* line 56, ../sass/styles.scss */
h3 {
  font-family: "Architects Daughter", cursive;
  font-weight: normal;
}

/* line 61, ../sass/styles.scss */
h4 {
  font-family: "Josefin Sans", sans-serif;
}

/* line 65, ../sass/styles.scss */
h5 {
  font-family: "Architects Daughter", cursive;
  font-weight: normal;
}

/* line 70, ../sass/styles.scss */
h6 {
  font-family: "Josefin Sans", sans-serif;
}

/* line 74, ../sass/styles.scss */
p {
  color: #626263;
}
/* line 76, ../sass/styles.scss */
p a {
  color: #29abe2;
}
/* line 79, ../sass/styles.scss */
p a:hover {
  color: #b2d237;
}

/* line 85, ../sass/styles.scss */
ul li {
  list-style-type: none;
}

/* line 89, ../sass/styles.scss */
.blue {
  color: #29abe2;
}
/* line 91, ../sass/styles.scss */
.blue a {
  color: #29abe2;
}
/* line 92, ../sass/styles.scss */
.blue a:hover {
  color: #b2d237;
}

/* line 94, ../sass/styles.scss */
.green {
  color: #b2d237;
}
/* line 96, ../sass/styles.scss */
.green a {
  color: #b2d237;
}
/* line 97, ../sass/styles.scss */
.green a:hover {
  color: #29abe2;
}

/* line 99, ../sass/styles.scss */
.orange {
  color: #fbad1a;
}
/* line 101, ../sass/styles.scss */
.orange a {
  color: #fbad1a;
}
/* line 102, ../sass/styles.scss */
.orange a:hover {
  color: #29abe2;
}

/* line 104, ../sass/styles.scss */
.lightgrey {
  color: #f2f2f2;
}
/* line 106, ../sass/styles.scss */
.lightgrey a {
  color: #f2f2f2;
}
/* line 107, ../sass/styles.scss */
.lightgrey a:hover {
  color: #626263;
}

/* line 109, ../sass/styles.scss */
.midgrey {
  color: #626263;
}
/* line 111, ../sass/styles.scss */
.midgrey a {
  color: #626263;
}
/* line 112, ../sass/styles.scss */
.midgrey a:hover {
  color: #424243;
}

/* line 114, ../sass/styles.scss */
.darkgrey {
  color: #424243;
}
/* line 116, ../sass/styles.scss */
.darkgrey a {
  color: #424243;
}
/* line 117, ../sass/styles.scss */
.darkgrey a:hover {
  color: #626263;
}

/* line 120, ../sass/styles.scss */
.page_head {
  text-align: left;
}

@media only screen and (max-width: 479px) {
  /* line 123, ../sass/styles.scss */
  .page_head {
    text-align: center;
  }
}
/* line 127, ../sass/styles.scss */
div.wrapper_top {
  background-image: url("../images/slices/lined-paper.png");
}

/* -----------------------------------------
   Header
----------------------------------------- */
/* line 135, ../sass/styles.scss */
div.header {
  /* 	background-image: url('../images/slices/C21-Header-BG.png'); */
  /* 	background: $translightgrey; */
}

/* line 140, ../sass/styles.scss */
div.logo a {
  border: 0;
  display: block;
  margin: 5%;
  margin-top: 15px;
  width: 294px;
  height: 100px;
  background-image: url("../images/slices/C21-logo-RO-Md.png");
}

/* line 150, ../sass/styles.scss */
div.logo a:hover {
  background-position: 0px -100px;
}

/* line 154, ../sass/styles.scss */
div.navigation {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

/* line 160, ../sass/styles.scss */
div.nav {
  background: #29abe2;
  height: 45px;
}

/* line 165, ../sass/styles.scss */
.top-bar {
  z-index: 1;
}
/* line 169, ../sass/styles.scss */
.top-bar nav section.top-bar-section {
  width: 100%;
  margin: 0 auto;
}
/* line 175, ../sass/styles.scss */
.top-bar ul > li a:not(.button) {
  font-family: "Architects Daughter", cursive;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  height: 45px;
  line-height: 45px;
  letter-spacing: 1px;
  padding: 0 10px;
}

@media only screen and (min-width: 768px) {
  /* line 191, ../sass/styles.scss */
  ul > li:not(.name):hover a,
  ul > li:not(.name).active a,
  ul > li:not(.name):focus a {
    color: #626263;
  }
}
@media only screen and (max-width: 767px) {
  /* line 196, ../sass/styles.scss */
  .top-bar-section li a:not(.button) {
    background: #424243;
  }

  /* line 200, ../sass/styles.scss */
  ul > li:not(.name) a {
    color: #f2f2f2;
  }

  /* line 203, ../sass/styles.scss */
  ul > li:not(.name):hover a,
  ul > li:not(.name).active a,
  ul > li:not(.name):focus a {
    color: #29abe2;
  }
}
@media only screen and (min-width: 980px) {
  /* line 208, ../sass/styles.scss */
  div.nav {
    padding-left: 3%;
  }
}
@media only screen and (min-width: 940px) and (max-width: 980px) {
  /* line 212, ../sass/styles.scss */
  div.nav {
    padding-left: 2.75%;
  }

  /* line 216, ../sass/styles.scss */
  .top-bar ul > li a:not(.button) {
    font-size: 19px;
    letter-spacing: 1px;
    padding: 0 8px;
  }
}
@media only screen and (min-width: 865px) and (max-width: 939px) {
  /* line 225, ../sass/styles.scss */
  div.nav {
    padding-left: 2.9%;
  }

  /* line 229, ../sass/styles.scss */
  .top-bar ul > li a:not(.button) {
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 8px;
  }
}
@media only screen and (min-width: 845px) and (max-width: 864px) {
  /* line 238, ../sass/styles.scss */
  div.nav {
    padding-left: 3.5%;
  }

  /* line 242, ../sass/styles.scss */
  .top-bar ul > li a:not(.button) {
    font-size: 17px;
    letter-spacing: 1px;
    padding: 0 8px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 844px) {
  /* line 251, ../sass/styles.scss */
  div.nav {
    padding-left: 4%;
  }

  /* line 255, ../sass/styles.scss */
  .top-bar ul > li a:not(.button) {
    font-size: 17px;
    letter-spacing: 0px;
    padding: 0 8px;
  }
}
/* -----------------------------------------
   Sub-Nav Hacks
----------------------------------------- */
/* line 353, ../sass/styles.scss */
dl.sub-nav {
  margin-top: 5px;
}

/* line 357, ../sass/styles.scss */
dl.sub-nav dd {
  font-family: "Architects Daughter", cursive;
  color: #424243;
  font-size: 16px;
}

/* line 363, ../sass/styles.scss */
dl.sub-nav dt {
  font-family: "Architects Daughter", cursive;
  color: #424243;
}

/* line 369, ../sass/styles.scss */
dl.sub-nav dd a {
  color: #29abe2;
  text-decoration: none;
  padding: 3px 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 380, ../sass/styles.scss */
dl.sub-nav dd.active a {
  font-weight: normal;
  background: #fbad1a;
}

/* line 385, ../sass/styles.scss */
dl.sub-nav dd a:hover {
  font-weight: normal;
  background: rgba(178, 210, 55, 0.6);
  color: #fff;
}

/* line 392, ../sass/styles.scss */
div.resolutionheader a {
  float: right;
  border: 0;
  display: block;
  margin: 10px;
  margin-right: 15px;
  width: 200px;
  height: 40px;
  background-image: url("../images/slices/C21-Resolution-RO.png");
}

/* line 403, ../sass/styles.scss */
div.resolutionheader a:hover {
  background-position: 0px -40px;
}

@media only screen and (min-width: 768px) and (max-width: 839px) {
  /* line 408, ../sass/styles.scss */
  dl.sub-nav dd {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 414, ../sass/styles.scss */
  div.logo a {
    margin: 5px auto;
  }

  /* line 418, ../sass/styles.scss */
  div.resolutionheader a {
    float: none;
    border: 0;
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 40px;
    background-image: url("../images/slices/C21-Resolution-RO.png");
  }

  /* line 428, ../sass/styles.scss */
  div.resolutionheader a:hover {
    background-position: 0px -40px;
  }
}
/* -----------------------------------------
   Slider
----------------------------------------- */
/* line 436, ../sass/styles.scss */
div.slider {
  margin: 1.25%;
  background: rgba(242, 242, 242, 0.2);
}

/* -----------------------------------------
   Bottome Wrapper
----------------------------------------- */
/* line 444, ../sass/styles.scss */
div.wrapper_bottom {
  background-image: url("../images/slices/C21-Content-BG.png");
  max-width: 100%;
}

/* -----------------------------------------
   Message Bar
----------------------------------------- */
/* line 452, ../sass/styles.scss */
div.message_bar {
  background-image: url("../images/slices/C21-WholeBrained-BG.png");
  background-repeat: repeat-x;
  max-width: 100%;
  height: 70px;
  text-align: center;
  font-family: "Architects Daughter", cursive;
}
/* line 459, ../sass/styles.scss */
div.message_bar a {
  color: #29abe2;
  font-size: 48px;
  line-height: 55px;
}
/* line 465, ../sass/styles.scss */
div.message_bar a:hover {
  color: white;
}

@media only screen and (max-width: 767px) {
  /* line 471, ../sass/styles.scss */
  div.message_bar {
    background-image: none;
    background-color: #424243;
    background-repeat: no-repeat;
    height: 100%;
    padding: 10px;
  }
  /* line 477, ../sass/styles.scss */
  div.message_bar a {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 486, ../sass/styles.scss */
  div.message_bar a {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 495, ../sass/styles.scss */
  div.message_bar a {
    font-size: 30px;
    line-height: 35px;
  }
}
/* -----------------------------------------
  Pain Points Bar
----------------------------------------- */
/* line 505, ../sass/styles.scss */
div.painpoints_box {
  background-color: #f2f2f2;
  border: solid;
  border-width: 2px;
  border-color: #999999;
  border-radius: 10px;
  min-height: 275px;
  text-align: center;
  margin-top: 20px;
}
/* line 514, ../sass/styles.scss */
div.painpoints_box img {
  margin-top: 5px;
}
/* line 517, ../sass/styles.scss */
div.painpoints_box h5 {
  font-family: "Architects Daughter", cursive;
  color: #29abe2;
}
/* line 521, ../sass/styles.scss */
div.painpoints_box p {
  margin-left: 5px;
  margin-right: 5px;
}

/* -----------------------------------------
  Recent Work Bar
----------------------------------------- */
/* line 531, ../sass/styles.scss */
div.recentwork_bar {
  display: block;
}
/* line 533, ../sass/styles.scss */
div.recentwork_bar .recentwork_title {
  margin-top: 20px;
}
/* line 536, ../sass/styles.scss */
div.recentwork_bar img {
  margin-top: 15px;
  width: 100%;
}

/* line 542, ../sass/styles.scss */
div.recentwork_bar-mobile {
  display: none;
}

@media only screen and (max-width: 479px) {
  /* line 547, ../sass/styles.scss */
  div.recentwork_bar {
    display: none;
  }

  /* line 551, ../sass/styles.scss */
  div.recentwork_bar-mobile {
    display: block;
  }
  /* line 553, ../sass/styles.scss */
  div.recentwork_bar-mobile .recentwork_title {
    margin-top: 5px;
  }
  /* line 556, ../sass/styles.scss */
  div.recentwork_bar-mobile img {
    margin: 5px;
  }
}
/* -----------------------------------------
  Whole-Brained Bar
----------------------------------------- */
/* line 565, ../sass/styles.scss */
div.whole-brained_bar {
  margin-top: 20px;
}

/* line 570, ../sass/styles.scss */
div.whole-brained_message h1 {
  font-family: "Architects Daughter", cursive;
  color: white;
  text-align: center;
  background-color: rgba(178, 210, 55, 0.6);
  text-shadow: 2px 2px 2px rgba(41, 171, 226, 0.4);
  width: 85%;
  min-height: 60px;
  margin-left: auto;
  margin-right: auto;
}

/* line 583, ../sass/styles.scss */
div.whole-brained_img {
  display: block;
  margin-top: -25px;
}

/*--
div.whole-brained_img-mobile {
	display: none;
}

div.whole-brained_list-mobile {
		display: none;
} --*/
/* line 598, ../sass/styles.scss */
div.whole-brained_button h2 {
  font-family: "Architects Daughter", cursive;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 40px;
}
/* line 604, ../sass/styles.scss */
div.whole-brained_button a {
  color: #424243;
  background-color: #29abe2;
  border: 0;
  border-radius: 15px;
  padding-right: 20px;
  padding-left: 20px;
  -moz-box-shadow: 3px 3px 7px #424243;
  -webkit-box-shadow: 3px 3px 7px #424243;
  box-shadow: 3px 3px 7px #424243;
}
/* line 615, ../sass/styles.scss */
div.whole-brained_button a:hover {
  color: white;
  background-color: #fbad1a;
}

@media only screen and (max-width: 835px) {
  /* line 623, ../sass/styles.scss */
  div.whole-brained_img {
    margin-top: 0px;
  }

  /* line 627, ../sass/styles.scss */
  div.whole-brained_img-mobile {
    display: none;
  }

  /* line 631, ../sass/styles.scss */
  div.whole-brained_list-mobile {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  /* line 637, ../sass/styles.scss */
  div.whole-brained_img-mobile {
    display: none;
  }

  /* line 641, ../sass/styles.scss */
  div.whole-brained_list-mobile {
    display: none;
  }

  /* line 646, ../sass/styles.scss */
  div.whole-brained_button h2 {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 639px) {
  /* line 654, ../sass/styles.scss */
  div.whole-brained_message h1 {
    font-size: 30px;
    min-height: 44px;
  }

  /* line 660, ../sass/styles.scss */
  div.whole-brained_img-mobile {
    display: none;
  }

  /* line 664, ../sass/styles.scss */
  div.whole-brained_list-mobile {
    display: none;
  }

  /* line 669, ../sass/styles.scss */
  div.whole-brained_button h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 677, ../sass/styles.scss */
  div.whole-brained_message h1 {
    font-size: 20px;
    min-height: 30px;
  }

  /*--
  div.whole-brained_img {
  	display: none;
  	margin-top: 0px;
  }
  
  div.whole-brained_img-mobile {
  	display: block;
  	width: 50%;
  	height: 50%;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: -10px;
  }
  
  div.whole-brained_list-mobile {
  	display: block;
  	background-color: $translightgrey;
  	-moz-box-shadow: 0px 0px 7px $darkgrey;
  	-webkit-box-shadow: 0px 0px 7px $darkgrey;
  	box-shadow: 0px 0px 7px $darkgrey;
  	margin-left: 20px;
  	margin-right: 20px;
  	
  	ul li {
  		list-style-type: none;
  	}
  	
  	h2 {
  		font-family: $architects;
  		text-align: center;
  		color: $orange;
  	}
  }
  --*/
  /* line 718, ../sass/styles.scss */
  div.whole-brained_button h2 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 319px) {
  /* line 726, ../sass/styles.scss */
  div.whole-brained_button h2 {
    font-size: 20px;
  }
}
/* -----------------------------------------
  Team Bar
----------------------------------------- */
/* line 736, ../sass/styles.scss */
div.team_bar {
  background-color: rgba(178, 210, 55, 0.6);
  padding-top: 10px;
  text-align: center;
  margin: 10px 0 15px 0;
}
/* line 741, ../sass/styles.scss */
div.team_bar img {
  margin-top: 10px;
}
/* line 744, ../sass/styles.scss */
div.team_bar h3 {
  font-family: "Architects Daughter", cursive;
  color: white;
  text-shadow: 2px 2px 2px #29abe2;
}
/* line 749, ../sass/styles.scss */
div.team_bar h5 {
  color: #424243;
}

/* -----------------------------------------
   Footer
----------------------------------------- */
/* line 757, ../sass/styles.scss */
div.footer {
  background-color: rgba(204, 204, 204, 0.4);
}

/* line 761, ../sass/styles.scss */
div.footer_logo a {
  border: 0;
  display: block;
  margin-top: 25px;
  margin-left: 30px;
  width: 188px;
  height: 48px;
  background-image: url("../images/slices/C21-Footer-Logo-RO.png");
}

/* line 771, ../sass/styles.scss */
div.footer_logo a:hover {
  background-position: 0px -48px;
}

/* line 775, ../sass/styles.scss */
div.footer_resolution a {
  border: 0;
  display: block;
  margin-top: 15px;
  margin-left: 30px;
  width: 200px;
  height: 40px;
  background-image: url("../images/slices/C21-Resolution-RO.png");
}

/* line 785, ../sass/styles.scss */
div.footer_resolution a:hover {
  background-position: 0px -40px;
}

@media only screen and (max-width: 767px) {
  /* line 790, ../sass/styles.scss */
  div.footer_logo a {
    display: none;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  /* line 795, ../sass/styles.scss */
  div.footer_resolution a {
    display: none;
    margin: 0 auto;
  }
}
/*--Footer Social--*/
/* line 802, ../sass/styles.scss */
div.footer_social {
  display: block;
  background-color: #E6E6E6;
  float: right;
  height: 120px;
  width: 125px;
  margin: 10px 10px 10px 10px;
}

/* line 811, ../sass/styles.scss */
div.footer_socialmobile {
  display: none;
}

/* line 815, ../sass/styles.scss */
div.KIT {
  margin: 5px;
  margin-top: 10px;
}

/* line 820, ../sass/styles.scss */
div.facebook_footer a {
  position: relative;
  float: left;
  border: 0;
  display: block;
  margin: 5px;
  margin-left: 20px;
  width: 32px;
  height: 32px;
  background-image: url("../images/slices/C21-Social-FB-RO.png");
}

/* line 832, ../sass/styles.scss */
div.facebook_footer a:hover {
  background-position: 0px -32px;
}

/* line 834, ../sass/styles.scss */
div.google_footer a {
  position: relative;
  float: left;
  border: 0;
  display: block;
  margin: 5px;
  width: 32px;
  height: 32px;
  background-image: url("../images/slices/C21-Social-GPlus-RO.png");
}

/* line 845, ../sass/styles.scss */
div.google_footer a:hover {
  background-position: 0px -32px;
}

/* line 847, ../sass/styles.scss */
div.twitter_footer a {
  position: relative;
  float: left;
  border: 0;
  display: block;
  margin: 5px;
  width: 32px;
  height: 32px;
  background-image: url("../images/slices/C21-Social-Tw-RO.png");
}

/* line 858, ../sass/styles.scss */
div.twitter_footer a:hover {
  background-position: 0px -32px;
}

/* line 860, ../sass/styles.scss */
div.pinterest_footer a {
  position: relative;
  float: left;
  border: 0;
  display: block;
  margin: 5px;
  margin-left: 20px;
  width: 32px;
  height: 32px;
  background-image: url("../images/slices/C21-Social-Pin-RO.png");
}

/* line 872, ../sass/styles.scss */
div.pinterest_footer a:hover {
  background-position: 0px -32px;
}

/* line 874, ../sass/styles.scss */
div.linkedin_footer a {
  position: relative;
  float: left;
  border: 0;
  display: block;
  margin: 5px;
  width: 32px;
  height: 32px;
  background-image: url("../images/slices/C21-Social-In-RO.png");
}

/* line 885, ../sass/styles.scss */
div.linkedin_footer a:hover {
  background-position: 0px -32px;
}

/* line 887, ../sass/styles.scss */
div.rss_footer a {
  position: relative;
  float: left;
  border: 0;
  display: block;
  margin: 5px;
  width: 32px;
  height: 32px;
  background-image: url("../images/slices/C21-Social-RSS-RO.png");
}

/* line 898, ../sass/styles.scss */
div.rss_footer a:hover {
  background-position: 0px -32px;
}

@media only screen and (max-width: 767px) {
  /* line 901, ../sass/styles.scss */
  div.footer_social {
    display: none;
  }

  /* line 905, ../sass/styles.scss */
  div.footer_socialmobile {
    display: block;
    background-color: #E6E6E6;
    float: none;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  /* line 914, ../sass/styles.scss */
  div.footericonwrapper {
    border: 0;
    display: block;
    margin: auto 0;
  }

  /* line 920, ../sass/styles.scss */
  div.footericons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 252px;
  }

  /* line 927, ../sass/styles.scss */
  div.facebook_footermobile a {
    position: relative;
    float: left;
    border: 0;
    display: block;
    margin: 5px;
    margin-left: auto 0;
    width: 32px;
    height: 32px;
    background-image: url("../images/slices/C21-Social-FB-RO.png");
  }

  /* line 939, ../sass/styles.scss */
  div.facebook_footermobile a:hover {
    background-position: 0px -32px;
  }

  /* line 941, ../sass/styles.scss */
  div.google_footermobile a {
    position: relative;
    float: left;
    border: 0;
    display: block;
    margin: 5px;
    width: 32px;
    height: 32px;
    background-image: url("../images/slices/C21-Social-GPlus-RO.png");
  }

  /* line 952, ../sass/styles.scss */
  div.google_footermobile a:hover {
    background-position: 0px -32px;
  }

  /* line 954, ../sass/styles.scss */
  div.twitter_footermobile a {
    position: relative;
    float: left;
    border: 0;
    display: block;
    margin: 5px;
    width: 32px;
    height: 32px;
    background-image: url("../images/slices/C21-Social-Tw-RO.png");
  }

  /* line 965, ../sass/styles.scss */
  div.twitter_footermobile a:hover {
    background-position: 0px -32px;
  }

  /* line 967, ../sass/styles.scss */
  div.pinterest_footermobile a {
    position: relative;
    float: left;
    border: 0;
    display: block;
    margin: 5px;
    width: 32px;
    height: 32px;
    background-image: url("../images/slices/C21-Social-Pin-RO.png");
  }

  /* line 978, ../sass/styles.scss */
  div.pinterest_footermobile a:hover {
    background-position: 0px -32px;
  }

  /* line 980, ../sass/styles.scss */
  div.linkedin_footermobile a {
    position: relative;
    float: left;
    border: 0;
    display: block;
    margin: 5px;
    width: 32px;
    height: 32px;
    background-image: url("../images/slices/C21-Social-In-RO.png");
  }

  /* line 991, ../sass/styles.scss */
  div.linkedin_footermobile a:hover {
    background-position: 0px -32px;
  }

  /* line 993, ../sass/styles.scss */
  div.rss_footermobile a {
    position: relative;
    float: left;
    border: 0;
    display: block;
    margin: 5px;
    width: 32px;
    height: 32px;
    background-image: url("../images/slices/C21-Social-RSS-RO.png");
  }

  /* line 1004, ../sass/styles.scss */
  div.rss_footermobile a:hover {
    background-position: 0px -32px;
  }
}
/* -----------------------------------------
   Brand Bar
----------------------------------------- */
/* line 1010, ../sass/styles.scss */
div.brand_bar {
  background-image: url("../images/slices/C21-Brand-Bar-BG.png");
  max-width: 100%;
}

/* line 1015, ../sass/styles.scss */
div.sync21 a {
  border: 0;
  display: block;
  width: 152px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/slices/C21-Footer-S21-RO.png");
}

/* line 1025, ../sass/styles.scss */
div.sync21 a:hover {
  background-position: 0px -38px;
}

/* line 1029, ../sass/styles.scss */
div.cranium21 a {
  border: 0;
  display: block;
  width: 152px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/slices/C21-Footer-C21-RO.png");
}

/* line 1039, ../sass/styles.scss */
div.cranium21 a:hover {
  background-position: 0px -38px;
}

/* line 1043, ../sass/styles.scss */
div.responsive21 a {
  border: 0;
  display: block;
  width: 159px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/slices/C21-Footer-R21-RO.png");
}

/* line 1053, ../sass/styles.scss */
div.responsive21 a:hover {
  background-position: 0px -38px;
}

/* line 1057, ../sass/styles.scss */
div.expression a {
  border: 0;
  display: block;
  width: 152px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/slices/C21-Footer-EE-RO.png");
}

/* line 1067, ../sass/styles.scss */
div.expression a:hover {
  background-position: 0px -38px;
}

/* -----------------------------------------
   Footer Bottom
----------------------------------------- */
/* line 1074, ../sass/styles.scss */
div.footer_bottom {
  color: #666766;
}

/* line 1078, ../sass/styles.scss */
div.footer_bottom p.copyright {
  float: left;
  font-size: 11px;
  margin-left: 2%;
  margin-top: 1.25%;
}

/* line 1085, ../sass/styles.scss */
div.footer_bottom p.links {
  float: right;
  font-size: 11px;
  letter-spacing: 1px;
  margin-right: 2%;
  margin-top: 1.25%;
}

/* line 1093, ../sass/styles.scss */
div.footer_bottom p.links a {
  color: #666766;
}

/* line 1097, ../sass/styles.scss */
div.footer_bottom p.links a:hover {
  color: #29abe2;
}

@media only screen and (max-width: 767px) {
  /* line 1102, ../sass/styles.scss */
  div.footer_bottom p.copyright {
    float: none;
    margin: 0 auto;
  }

  /* line 1107, ../sass/styles.scss */
  div.footer_bottom p.links {
    float: none;
    margin: 0 auto;
  }
}
/* -----------------------------------------
   Reveal Dialogs
----------------------------------------- */
/* line 1116, ../sass/styles.scss */
#mainModal {
  color: #666766;
  background-color: #F8F8F9;
}

/* line 1121, ../sass/styles.scss */
h3.modal {
  color: #29abe2;
}

/* line 1125, ../sass/styles.scss */
p.modal {
  color: #666766;
}

@media only screen and (max-width: 320px) {
  /* line 1131, ../sass/styles.scss */
  div.footer_bottom p.copyright {
    float: left;
    margin-left: 2%;
    margin-top: 1.25%;
  }

  /* line 1137, ../sass/styles.scss */
  div.footer_bottom p.links {
    float: left;
    margin-left: 2%;
    margin-top: 0.25%;
  }
}
/* -----------------------------------------
   Visual Voice
----------------------------------------- */
/* -----------------------------------------
   Responsive
----------------------------------------- */
/* -----------------------------------------
   Expression Engine
----------------------------------------- */
/* -----------------------------------------
   Optimization
----------------------------------------- */
/* -----------------------------------------
   Social Media
----------------------------------------- */
/* -----------------------------------------
   Video & Imagery
----------------------------------------- */
/* -----------------------------------------
   Portfolio
----------------------------------------- */
/* line 1172, ../sass/styles.scss */
div.portfolio .portfolio_content {
  margin: 5px;
}
/* line 1175, ../sass/styles.scss */
div.portfolio h4 {
  color: #999999;
  margin-top: -5px;
}
/* line 1179, ../sass/styles.scss */
div.portfolio h5 {
  text-align: right;
}
/* line 1181, ../sass/styles.scss */
div.portfolio h5 a {
  background-color: #424243;
  color: #29abe2;
  padding: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 5px #424243;
  -webkit-box-shadow: 2px 2px 5px #424243;
  box-shadow: 2px 2px 5px #424243;
}
/* line 1190, ../sass/styles.scss */
div.portfolio h5 a:hover {
  color: #fbad1a;
}
/* line 1194, ../sass/styles.scss */
div.portfolio img {
  display: block;
  margin-top: 20px;
  -moz-box-shadow: 0px 0px 7px #424243;
  -webkit-box-shadow: 0px 0px 7px #424243;
  box-shadow: 0px 0px 7px #424243;
}

/* line 1203, ../sass/styles.scss */
div.work {
  margin-top: 30px;
}
/* line 1205, ../sass/styles.scss */
div.work h1 {
  font-family: "Architects Daughter", cursive;
  text-align: center;
  color: #424243;
  background-color: #29abe2;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 767px) {
  /* line 1218, ../sass/styles.scss */
  div.portfolio img {
    margin-right: auto;
    margin-left: auto;
  }
}
/* -----------------------------------------
   Team
----------------------------------------- */
/* line 1246, ../sass/styles.scss */
div.team .team_img img,
div.team .visual-voice_img img,
div.team .responsive_img img,
div.team .expression-engine_img img,
div.team .optimization_img img,
div.team .social-media_img img,
div.team .contact_img img,
div.team .video-imagery_img img,
div.visual-voice .team_img img,
div.visual-voice .visual-voice_img img,
div.visual-voice .responsive_img img,
div.visual-voice .expression-engine_img img,
div.visual-voice .optimization_img img,
div.visual-voice .social-media_img img,
div.visual-voice .contact_img img,
div.visual-voice .video-imagery_img img,
div.responsive .team_img img,
div.responsive .visual-voice_img img,
div.responsive .responsive_img img,
div.responsive .expression-engine_img img,
div.responsive .optimization_img img,
div.responsive .social-media_img img,
div.responsive .contact_img img,
div.responsive .video-imagery_img img,
div.expression-engine .team_img img,
div.expression-engine .visual-voice_img img,
div.expression-engine .responsive_img img,
div.expression-engine .expression-engine_img img,
div.expression-engine .optimization_img img,
div.expression-engine .social-media_img img,
div.expression-engine .contact_img img,
div.expression-engine .video-imagery_img img,
div.optimization .team_img img,
div.optimization .visual-voice_img img,
div.optimization .responsive_img img,
div.optimization .expression-engine_img img,
div.optimization .optimization_img img,
div.optimization .social-media_img img,
div.optimization .contact_img img,
div.optimization .video-imagery_img img,
div.social-media .team_img img,
div.social-media .visual-voice_img img,
div.social-media .responsive_img img,
div.social-media .expression-engine_img img,
div.social-media .optimization_img img,
div.social-media .social-media_img img,
div.social-media .contact_img img,
div.social-media .video-imagery_img img,
div.contact .team_img img,
div.contact .visual-voice_img img,
div.contact .responsive_img img,
div.contact .expression-engine_img img,
div.contact .optimization_img img,
div.contact .social-media_img img,
div.contact .contact_img img,
div.contact .video-imagery_img img,
div.video-imagery .team_img img,
div.video-imagery .visual-voice_img img,
div.video-imagery .responsive_img img,
div.video-imagery .expression-engine_img img,
div.video-imagery .optimization_img img,
div.video-imagery .social-media_img img,
div.video-imagery .contact_img img,
div.video-imagery .video-imagery_img img {
  width: 95%;
  height: 95%;
  margin: 10px;
  -moz-box-shadow: 0px 0px 7px #424243;
  -webkit-box-shadow: 0px 0px 7px #424243;
  box-shadow: 0px 0px 7px #424243;
}

/* line 1258, ../sass/styles.scss */
div.teammembers h3 {
  background-color: rgba(178, 210, 55, 0.6);
  text-align: center;
  color: #29abe2;
  padding: 10px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
/* line 1268, ../sass/styles.scss */
div.teammembers h4 {
  text-align: center;
  color: #424243;
  text-shadow: 1px 1px 1px #b2d237;
}
/* line 1273, ../sass/styles.scss */
div.teammembers h5 {
  text-align: center;
  color: #29abe2;
}
/* line 1277, ../sass/styles.scss */
div.teammembers p {
  text-align: center;
}
/* line 1280, ../sass/styles.scss */
div.teammembers .teammember_img {
  padding: 10px;
}
/* line 1282, ../sass/styles.scss */
div.teammembers .teammember_img img {
  display: block;
  width: 65%;
  height: 65%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  -moz-box-shadow: 0px 0px 7px #424243;
  -webkit-box-shadow: 0px 0px 7px #424243;
  box-shadow: 0px 0px 7px #424243;
}

/* -----------------------------------------
   Blog
----------------------------------------- */
/* line 1301, ../sass/styles.scss */
div.blog_navigation {
  text-align: center;
}
/* line 1304, ../sass/styles.scss */
div.blog_navigation .whatwelike_button img {
  float: right;
}

@media only screen and (max-width: 767px) {
  /* line 1314, ../sass/styles.scss */
  div.blog_navigation .whatwelike_button img {
    float: none;
    display: block;
    width: 188px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* -----------------------------------------
   Blog Post
----------------------------------------- */
/* line 1331, ../sass/styles.scss */
div.blog_posts-wrapper {
  background-color: #999999;
  padding: 10px;
  margin-bottom: 20px;
}
/* line 1335, ../sass/styles.scss */
div.blog_posts-wrapper .blog_posts {
  background-color: white;
}
/* line 1338, ../sass/styles.scss */
div.blog_posts-wrapper .blog_posts-content {
  padding: 10px;
}
/* line 1341, ../sass/styles.scss */
div.blog_posts-wrapper h5 {
  text-align: right;
}
/* line 1343, ../sass/styles.scss */
div.blog_posts-wrapper h5 a {
  background-color: #424243;
  padding: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 5px #424243;
  -webkit-box-shadow: 2px 2px 5px #424243;
  box-shadow: 2px 2px 5px #424243;
}
/* line 1353, ../sass/styles.scss */
div.blog_posts-wrapper img {
  width: 95%;
  height: 95%;
  margin: 10px;
  -moz-box-shadow: 0px 0px 7px #424243;
  -webkit-box-shadow: 0px 0px 7px #424243;
  box-shadow: 0px 0px 7px #424243;
}

/* -----------------------------------------
   Contact
----------------------------------------- */
