<div class="header">
	<div class="row">
		<div class="large-3 columns">
			<div class="logo">
				<a href="/"></a>
			</div>
		</div>
    
		<div class="large-9 columns">
			
			<div class="row hide-for-small">
				<div class="navigation">
					<dl class="sub-nav">
					  <dd><a href="/">Portfolio</a></dd>
					  <dd><a href="/">Team</a></dd>
					  <dd><a href="/">Blog</a></dd>
					  <dd><a href="/">Contact</a></dd>
					</dl>
				</div>
			</div>
			
			<div class="row hide-for-small">		
				<div class="resolutionheader">
					<a href="/" data-reveal-id="resolutionModal"></a>
				</div>
			</div>	
			
		</div>
	</div>
</div>