<div class="header">
	<div class="row">
		<div class="large-3 columns">
			<div class="logo">
				<a href="/"></a>
			</div>
		</div>
    
		<div class="large-9 columns">
			
			<div class="row">
				<div class="navigation">
					<!--
					<ul class="nav-bar hide">
					  <li class="inactive"><a href="/design">Design</a></li>
					  <li class="inactive"><a href="/development">Development</a></li>
					  <li class="inactive"><a href="/content">Content</a></li>
					  <li class="inactive"><a href="/social">Social</a></li>
					  <li class="inactive"><a href="/optimize">Optimize</a></li>
					  <li class="inactive"><a href="/portfolio">Portfolio</a></li>
					  <li class="inactive"><a href="/team">Team</a></li>
					  <li class="inactive"><a href="/blog">Blog</a></li>
					</ul>
					-->
<!--
					<dl class="sub-nav">
					  <dd><a href="/design">Design</a></dd>
					  <dd><a href="/development">Development</a></dd>
					  <dd><a href="/content">Content</a></dd>
					  <dd><a href="/social">Social</a></dd>
					  <dd><a href="/optimize">Optimize</a></dd>
					  <dd><a href="/portfolio">Portfolio</a></dd>
					  <dd><a href="/team">Team</a></dd>
					  <dd><a href="/blog">Blog</a></dd>
					</dl>
-->

<nav class="top-bar">
	<ul>
		<!-- Title Area -->
		<li class="name show-for-small">
			<h1>
				<a href="/"></a>
			</h1>
		</li>
		<li class="toggle-topbar">&nbsp;Start Here!<a href="#"></a></li>
	</ul>

<section>
	<!-- Left Nav Section -->
	<ul class="left">
		<li class="divider"></li>
		<li class="">
			<a class="active" href="/design">Design</a>
		</li>
	</ul>

	<ul class="left">
		<li class="divider show-for-medium-and-up"></li>
		<li class="">
			<a href="/development">Development</a>
		</li>
	</ul>
	
	<ul class="left">
		<li class="divider show-for-medium-and-up"></li>
		<li class="">
			<a href="/content">Content</a>
		</li>
	</ul>
	
	<ul class="left">
		<li class="divider show-for-medium-and-up"></li>
		<li class="">
			<a href="/social">Social</a>
		</li>
	</ul>
	
	<ul class="left">
		<li class="divider show-for-medium-and-up"></li>
		<li class="">
			<a href="/optimize">Optimize</a>
		</li>
	</ul>
	
	<ul class="left">
		<li class="divider show-for-medium-and-up"></li>
		<li class="">
			<a href="/portfolio">Portfolio</a>
		</li>
	</ul>

	<ul class="left">
		<li class="divider show-for-medium-and-up"></li>
		<li class="">
			<a href="/team">Team</a>
		</li>
	</ul>
	
	<ul class="left">
		<li class="divider show-for-medium-and-up"></li>
		<li class="">
			<a href="/blog">Blog</a>
		</li>
	</ul>
	
	<ul class="left show-for-small">
		<li class="divider show-for-medium-and-up"></li>
		<li class="">
			<a href="tel:757-580-6559">Call Us Now @ 757.580.6559</a>
		</li>
	</ul>

	<!-- Right Nav Section -->
	<ul class="left show-for-small">
		<li class="has-button "><a class="medium radius button" href="/scanning_benefits">Quit Paper Now!</a></li>
	</ul>
	
<!--
	<ul class="right hide-for-small quit-paper-now">
		<li class="has-button quit-paper-now"><a class="medium radius button" href="/scanning_benefits">Quit Paper Now!</a></li>
	</ul>
-->
</section>
				</div>
			</div>
			
			<div class="row">		
				<div class="resolutionheader">
					<a href="#" data-reveal-id="resolutionModal"></a>
				</div>
			</div>	
			
		</div>
	</div>
</div>