{embed="embeds/meta-test"}
	<body>
		
		<div class="wrapper_top">
			{embed="embeds/header-test"}
			{embed="embeds/nav-test"}
			{embed="embeds/slider-test"}
			{embed="embeds/message_bar"}
		</div>
	
	
	
		<div class="wrapper_bottom">
			{embed="embeds/painpoints_bar"}
			{embed="embeds/recentwork_bar"}
			{embed="embeds/whole-brained_bar"}
			{embed="embeds/team_bar"}
			{embed="embeds/footer"}
			{embed="embeds/brand_bar"}
			{embed="embeds/footer_bottom"}
		</div>
			
					
		{embed="embeds/google_analytics"}
	
	</body>
</html>